[submodule "Carmel-Starter-Kit"]
	path = Carmel-Starter-Kit
	url = https://github.com/huningxin/Carmel-Starter-Kit.git
[submodule "webvr.info"]
	path = webvr.info
	url = https://github.com/huningxin/webvr.info.git
[submodule "aframevr/360-image-gallery"]
	path = aframevr/360-image-gallery
	url = https://github.com/huningxin/360-image-gallery.git
[submodule "aframevr/360-video-gallery"]
	path = aframevr/360-video-gallery
	url = https://github.com/huningxin/360-video-gallery.git
[submodule "aframevr/a-blast"]
	path = aframevr/a-blast
	url = https://github.com/huningxin/a-blast.git
[submodule "aframevr/a-painter"]
	path = aframevr/a-painter
	url = https://github.com/huningxin/a-painter.git
